:root {
  background: rgb(112,113,124);
  background: linear-gradient(0deg, rgba(112,113,124,1) 0%, rgba(31,41,55,1) 58%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}